footer {
    background-color: rgba(42, 39, 37, 0.716);
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 25px;

    div:first-child {
    display: flex;
    justify-content: center;
    }
}

footer div:first-child {
    display: flex;
    justify-content: center;
}