$color-principal: rgb(249, 244, 244);

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
@import "header";
@import "footer";
@import "form";


* {
    margin: 0;
    padding: 0;
    }

    body {
        background-color: $color-principal;
        margin: 0px 100px 0 100px;
        font-family: "Poppins", sans-serif;
        min-height: 100vh;
        
        #section-body,
        #consejos-body {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }


h1 {
    justify-content: center;
    font-weight: bolder;
    font-size: 50px;
    color: goldenrod;
    padding: 30px;
    border: 5px solid;
    text-align: center;
}

.sectionIndex {
    padding: 40px;
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 50px;
}

.imagenPrincipal {
    margin: 100px auto;
    width: 100%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imagenes/imagenPrincipal.jpg);
}

article {
    margin-left: 50px;
    display: flex;
    flex-direction: row;

    .uno {
    margin: 25px 30px;
    color: black;
    }

    .dos {
    margin: 25px 30px;
    color: black;
    }
}

  /* CONSEJOS */

.grilla {
    background-color: rgb(244, 235, 182);
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    justify-content: center;
    flex: 1;

    .border {
    background-color: rgb(244, 220, 84);
    margin: 5px;
    color: rgb(10, 10, 10);
    }
}



#servicios-section {
    flex: 1;
    justify-content: center;
    gap: 20px;

    .renglon {
    gap: 20px;

    img {
        width: 100px;
    }
    }
}

.columna {
    display: flex;
    flex-direction: column;
}

.renglon {
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    float: none;
    display: flex;
    align-items: center;
    padding: 0;

    img {
    width: 60px;
    }
}

nav {
    min-height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    background-color: rgba(42, 39, 37, 0.716);

    .navbar-default {
    background-color: rgba(193, 81, 7, 0.716);
    }
}





@media only screen and (max-width: 1024px) {
    body {
    padding: 0;
    margin: 0;
    }

    header {
    height: auto;
    }

    nav img {
    position: relative;
    transform: translateY(0);
    }

    nav {
    flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-nav {
    margin: 20px -15px 40px -15px;
    }

    .navbar-brand {
    justify-content: center;
    margin-top: 40px;
    }

    .imagenPrincipal {
    margin: 0;
    }

    .sectionIndex {
    margin: 0;
    }

    footer div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .renglon {
    flex-direction: column;
    align-items: center;
}
}