@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 244, 244);
  margin: 0px 100px 0 100px;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
#section-body,
#consejos-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
header {
  background-color: rgba(42, 39, 37, 0.716);
  height: 100px;
}

li:hover {
  text-shadow: 2px 2px 10px white;
  /*Aca le podrias agregar algunos estilos a los links cuando el cursor esta encima, para que el usuario sepa que es un link (y queda mas lindo) */
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  display: inline-block;
}

h1 {
  justify-content: center;
  font-weight: bolder;
  font-size: 50px;
  color: goldenrod;
  padding: 30px;
  border: 5px solid;
}

.sectionIndex {
  padding: 40px;
  margin-right: 50px;
  margin-top: 10px;
  margin-left: 50px;
}

.imagenPrincipal {
  margin: 100px auto;
  width: 100%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../imagenes/imagenPrincipal.jpg);
}

article {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}

.uno {
  margin: 25px 30px;
  color: black;
}

.dos {
  margin: 25px 30px;
  color: black;
}

/*CONSEJOS*/

.grilla {
  background-color: rgb(246, 233, 162);
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  justify-content: center;
  flex: 1;
}

.border {
  background-color: rgb(47, 46, 46);
  margin: 5px;
  color: white;
}

footer {
  background-color: rgba(42, 39, 37, 0.716);
  font-family: "Poppins", sans-serif;
  text-align: right;
  font-weight: bold;
  font-size: 10px;
  line-height: 25px;
}
#servicios-section {
  flex: 1;
  justify-content: center;
  gap: 20px;
}
#servicios-section .renglon {
  gap: 20px;
}
#servicios-section img {
  width: 100px;
}
.columna {
  display: flex;
  flex-direction: column;
}
.renglon {
  display: flex;
  flex-direction: row;
}
.navbar-brand {
  float: none;
  display: flex;
  align-items: center;
  padding: 0;
}
.navbar-brand img {
  width: 60px;
}
nav {
  min-height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
footer div:first-child {
  display: flex;
  justify-content: center;
}

/*Aca podes ir agregando propiedades que se aplicarian cuando la pantalla
llegue a 1024px de ancho, lo cual es como una tablet, ahi te acomode el nav para
que quede bien en tablet, capaz tengas que acomodarlo mas para mobile */
@media only screen and (max-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
  }
  header {
    height: auto;
  }
  nav img {
    position: relative;
    transform: translateY(0);
  }
  nav {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin: 20px -15px 40px -15px;
  }
  .navbar-brand {
    justify-content: center;
    margin-top: 40px;
  }
  .imagenPrincipal {
    margin: 0;
  }
  .sectionIndex {
    margin: 0;
  }
  footer div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .renglon {
    flex-direction: column;
    align-items: center;
  }
}
